  <% provide(:title, 'About Us') %>
  <div class= "hero-unit">
    <h1>About NearBuy</h1>
    <br>
	<p>NearBuy is a service that allows you as a business to control what
       information about you that you wish customers to see. Through the NearBuy
       Android Application customers can see where you are located, what products
       you have available and to order products directly from you.</p>
</div>
<br>
<div class="hero-unit">
	<h1>NearBuy App</h1>
	<br>
	<p>The NearBuy app allows users to see what businesses are located around them though the use of GPS positioning, see what products are available, order products and see relevant business information 
	(such as opening times).</p>
</div>