 <% provide(:title, @user.name) %>
 <div class = "hero-unit">
    <div class="row">
      <aside class="span4">
      </aside>
      <header class="navbar navbar-static navbar-default">
      <div class="navbar-inner">
        <h1>
            <%= @user.name %>
          </h1>
          <h2> Store Details Page </h2>
      </div>
    </header>
      <div class="hero-unit">
        <% if @user.store.blank? %>
          <section>
            <h2>Please Enter your Store Details</h2>
            <%= render 'shared/store_form' %>
          </section>
          <% else %>
          <h2>Store Details</h2>
          <%= render 'stores/store_info' %>
<p>*Click on Text you wish to change in these fields, press enter to commit changes. Locational data will be updated on next page load</p>
</div>
<% end %>
      </div>
    </div> 
  </div>